* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    font-family: sans-serif;
    font-size: 16px;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}
main {
    display: flex;
    flex-direction: column;
    height: calc(100% - 4em);
    padding: 2em 5em;
}

#controls {
    align-items: center;
    display: flex;
    height: 30px;
    gap: 10px;
}

#segments {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.4rem;
    flex-grow: 1;
    list-style: none;
    margin-top: 1rem;
    overflow-y: auto;
}
#segments > li {
    display: flex;
    align-items: center;
}
#segments a {
    text-align: right;
    width: 11rem;
}
#segments a::after {
    content: ' ▶️'
}
#segments time {
    flex-shrink: 0;
    font-family: 'Courier New', monospace;
    opacity: .6;
}
#segments time + time::before {
    content: '~';
}

#segments p {
    border-radius: .25rem;
    flex-grow: 1;
    outline: none;
    margin: 0.25rem;
    padding: .5rem;
}
#segments p:focus {
    background-color: rgba(255, 255, 255, .15);
}


.exploding, .exploding:focus, .exploding:hover {
    background: transparent;
    color: transparent;
}

.exploding {
    pointer-events: none;
    position: relative;
    will-change: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.particle {
    position: absolute;
    top: 0;
    left: 0;
}

.particle--debris {
    background: #255ff4;
}

.particle--fire {
    border-radius: 50%;
}
